*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --body-color: #434455;
  --header-back-color: rgba(255, 255, 255, 1);

  --logo-accent-color: rgba(77, 90, 229, 1);
  --logo-color: rgba(46, 47, 66, 1);
  --navigation-link-color: #2e2f42;
  --navigation-link-hover-color: #404bbf;
}

/*basic style başlangıç*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-color);
}

.container {
  width: 1158px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-shrink: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul .target {
  display: flex;
  flex-direction: row;
}

/*basic style bitiş*/

.header {
  background-color: var(--header-back-color);
  border-bottom: 1px solid #e7e9fc;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  margin: 0 auto;

}

/* header kutucuk bitiş */
/*header-navigation başlangıç*/
.logo-accent {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: var(--logo-accent-color);
  text-align: left;
  text-decoration: none;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  text-transform: uppercase;
  text-align:left;
  text-decoration: none;
  color: var(--logo-color);

}

.navigation .link {
  color: var(--navigation-link-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  margin: 0;
  padding: 0;
  gap: 40px;
  align-items: top;


}

.navigation .link:hover {
  color: var(--navigation-link-hover-color);
}
/*header-navigation bitiş*/

/*header contacts başlangıç*/
.header .contacts .link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--body-color);
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
  align-items: flex-end;
}
.header .contacs:hover {
  color: #404bbf;
}
/*header-contacts bitiş*/

/*post sınıfı başlangıç*/
.post {
  background-color: var(--navigation-link-color);
  width: 1440px;
  height: 600px;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post .title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 2.1;
  letter-spacing: 2%;
  text-align: center;
  text-transform: capitalize;
  max-width: 496px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.post-link {
  min-width: 169px;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  gap: 10px;
}

.post-link:hover,
.post-link:focus {
  background-color: #404bbf;
  border-radius: 4px;
}
/*post sınıfı bitiş*/

/*main sınıfı bailangıç*/
.main {
  width: 1128px;
  margin: 0px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.main .target {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0 auto;
  padding: 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main .list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main .title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  letter-spacing: 2%;
}
.main .text {
  color: rgba(67, 68, 85, 1);
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  line-height: 4.5;
  letter-spacing: 2%;
}
/*main sınıfı bitiş*/

/*team section sınıfı başlangıç*/

.team-section {
  background-color: rgba(244, 244, 253, 1);
  width: 1440px;
  padding-top: 120px;
  padding-bottom: 120px;

}

.team-section .target {
  display: flex;
  gap: 8px;
  list-style: none;
  padding-bottom: 32px;
  flex-direction: row;
  flex-wrap: nowrap;
  width: calc((100%-96px) / 4);
}

.team-section .team {
  font-size: 36px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2%;
  line-height: 1.1;
  color: rgba(46, 47, 66, 1);
  gap: 32px;
  margin: 0 auto;
  width: 162px;
}
.team .title {
  color: rgba(46, 47, 66, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2%;
  text-align: center;
  

}
.team .text {
  color: rgba(67, 68, 85, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  text-align: center;
  position: inherit;
}
.team .photo {
  width: 264px;
  display: block;
}

li .team-card {
  padding: 0;
  text-align: center;
  gap: 8px;
}

/*team section sınıfı bitiş*/

/*portfolio-section sınıfı başlangıç*/
.portfolio-section {
  background-color: rgba(255, 255, 255, 1);
  width: 1128px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 1px solid #FFFFFF;
 

}

.portfolio-section .portfolio {
  font-size: 36px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2%;
  line-height: 1.1;
  color: rgba(46, 47, 66, 1);
  width: 218px;
  font-weight: 700;
  line-height: 1.1em;
}

.portfolio-section .title {
  color: rgba(46, 47, 66, 1);
  width: 118px;
  height: 24px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2%;
}
.portfolio-section .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2%;
  color: rgba(67, 68, 85, 1);
  text-align: left;
}
.portfolio-section .photo {
  width: 360px;
}
/*portfolio-section sınıfı bitiş*/
/*footer  sınıfı başlangıç*/
.footer {
  background-color: rgba(46, 47, 66, 1);
  width: 1440px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer .logo {
  color: rgba(244, 244, 253, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  text-transform: uppercase;
  width: 71px;
}

.footer .logo-accent {
  color: rgba(77, 90, 229, 1);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16px;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.footer .text,
.footer .text-accent {
  color: rgba(244, 244, 253, 1);
  width: 264px;
  font-weight: 400px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 2%;
}

/*footer sınıfı bitiş*/
